.trade-btn{
  background:
    linear-gradient(
      135deg,
      rgba(89,245,212,.12),
      rgba(85,191,255,.12)
    );

  border-color:
    rgba(89,245,212,.25);

  color:#effffb;
}

.trade-btn:hover{
  background:
    linear-gradient(
      135deg,
      rgba(89,245,212,.22),
      rgba(85,191,255,.20)
    );

  border-color:
    rgba(89,245,212,.45);

  box-shadow:
    0 12px 36px
    rgba(89,245,212,.11);
}


.trade-btn-large{
  position:relative;
  overflow:hidden;

  border-color:
    rgba(89,245,212,.27);

  background:
    linear-gradient(
      135deg,
      rgba(89,245,212,.12),
      rgba(85,191,255,.11)
    );
}

.trade-btn-large::before{

  content:"";

  position:absolute;

  width:80px;
  height:200%;

  top:-50%;
  left:-120px;

  transform:rotate(25deg);

  background:
    linear-gradient(
      90deg,
      transparent,
      rgba(255,255,255,.18),
      transparent
    );

  animation:
    tradeShine 4.5s infinite;
}

@keyframes tradeShine{

  0%{
    left:-120px;
  }

  35%{
    left:120%;
  }

  100%{
    left:120%;
  }

}


.asset-links-grid{

  display:grid;

  grid-template-columns:
    repeat(4,1fr);

  gap:10px;

  margin-top:24px;
}


.asset-link-card{

  min-height:130px;

  padding:18px;

  border:
    1px solid var(--line);

  border-radius:18px;

  background:
    rgba(255,255,255,.03);

  transition:
    .25s;
}


.asset-link-card:hover{

  transform:
    translateY(-4px);

  border-color:
    rgba(89,245,212,.30);

  background:
    rgba(255,255,255,.055);
}


.asset-link-card span{

  display:block;

  font-size:10px;

  color:
    var(--muted2);

  text-transform:
    uppercase;

  letter-spacing:
    .12em;

  margin-bottom:
    28px;
}


.asset-link-card strong{

  display:block;

  font-size:
    16px;

  letter-spacing:
    -.02em;
}


@media(max-width:900px){

  .asset-links-grid{

    grid-template-columns:
      repeat(2,1fr);

  }

}


@media(max-width:560px){

  .asset-links-grid{

    grid-template-columns:
      1fr;

  }

}
